.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.App header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.App main {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: 350px 1fr; /* Give the first column a fixed width */
  grid-template-rows: auto auto 1fr; /* Allow the last row to take remaining space */
  gap: 20px;
  grid-template-areas:
    "form map"
    "search map"
    "deflect map"
    "results map";
}

.App-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #282c34;
}
